@model MortgageViewModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="MortgageType"></label>
            <input asp-for="MortgageType" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="InterestRepayment"></label>
            <input asp-for="InterestRepayment" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="EffectiveStartDate"></label>
            <input asp-for="EffectiveStartDate" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="EffectiveEndDate"></label>
            <input asp-for="EffectiveEndDate" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="TermsInMonths"></label>
            <input asp-for="TermsInMonths" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="CancellationFee"></label>
            <input asp-for="CancellationFee" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="EstablishmentFee"></label>
            <input asp-for="EstablishmentFee" class="form-control" />
        </div>
        @*<div class="mb-3">
            <label asp-for="EstablishmentFee"></label>
            <input asp-for="EstablishmentFee" class="form-control" />
        </div>*@
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Mortgage" asp-action="Index">Back to List</a>
    </div>
</form>